@model PCWeb.Models.InputViewModel

@{
    ViewBag.Title = "Base64ToString";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Base64ToString</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InputViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Input)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input)
            @Html.ValidationMessageFor(model => model.Input)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Output)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Output)
            @Html.ValidationMessageFor(model => model.Output)
        </div>

        <p>
            <input type="submit" value="Convert Base64 to String"  class="btn btn-info"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
