@model PCWeb.Models.InputViewModel

@{
    ViewBag.Title = "Base64ToString";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Base64ToString</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Base64 To String</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Input)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Input,new  { @class = "input-xxlarge",cols=20,rows=5 })
            @Html.ValidationMessageFor(model => model.Input)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Output)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Output,new  { @class = "input-xxlarge",cols=20,rows=5 })
            @Html.ValidationMessageFor(model => model.Output)
        </div>

        <p>
            <input type="submit" value="Convert Base64 to String"  class="btn btn-primary"/>
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
