@model PCWeb.Models.InputViewModel

@{
    ViewBag.Title = "HashMd5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
       <blockquote>
    <p>This simple tool computes the MD5 hash of a string. Also available is a <a href="sha1.php">SHA-1 hash generator</a>.</p>
</blockquote>
</p>
<div class="row">
 
    <div class="span6">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
   
            <fieldset>
                <legend>InputViewModel</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Input)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Input)
                    @Html.ValidationMessageFor(model => model.Input)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Output)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Output)
                    @Html.ValidationMessageFor(model => model.Output)
                </div>

                <p>
                    <input type="submit" value="Calculate Md5" class="btn btn-info" />
                </p>
            </fieldset>
   
        }
    </div>

    @Html.Partial("_HashDescription");

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
