@model PCWeb.Models.InputViewModel

@{
    ViewBag.Title = "HashMd5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<blockquote>
    <p>
        This simple tool computes the MD5 hash of a string. Also available is a @Html.ActionLink("SHA1", "SHA", "Home", new { id = "SHA1" }, null),
        @Html.ActionLink("SHA256", "SHA", "Home", new { id = "SHA256" }, null) and @Html.ActionLink("SHA-512", "SHA", "Home", new { id = "SHA512" }, null)
    </p>
</blockquote>

<div class="row-fluid">

    <div class="span8">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
   
            <fieldset>
                <legend>MD5</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Input)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Input, new { @class = "input-xxlarge", cols = 20, rows = 5 })
                    @Html.ValidationMessageFor(model => model.Input)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Output)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Output, new { @class = "input-xxlarge", cols = 20, rows = 5 })
                    @Html.ValidationMessageFor(model => model.Output)
                </div>

                <p>
                    <input type="submit" value="Calculate Md5" class="btn btn-primary" />
                </p>
            </fieldset>
   
        }
    </div>

    @Html.Partial("_HashDescription");

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
