@model PCWeb.Models.InputViewModel

@{
    ViewBag.Title = "Programmers Calculator:Calculate sha  hash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SHA1/256/512 Hashing</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="span6">
        <fieldset>
            

            <div class="editor-label">
                @Html.LabelFor(model => model.Input)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Input, new { @class = "input-xxlarge", cols = 20, rows = 5 })
                @Html.ValidationMessageFor(model => model.Input)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Output)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Output, new { @class = "input-xxlarge", cols = 20, rows = 5 })
                @Html.ValidationMessageFor(model => model.Output)
            </div>

            <p>
                <input type="submit" value="Calculate Hash" class="btn btn-primary" />
            </p>
        </fieldset>
    </div>
}
<div class="span4">
    <blockquote>
        @Html.Partial("_GoogleAd")
        @Html.DisplayFor(x => x.Description)
    </blockquote>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
