<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="Description" content="Programmers Calculator is a free calculator for programmers which can be used to convert text to and from Base64 encoding, it can also be used to convert text to binary, generate MD5, SHA1, SHA256 hash values of both text and files and several other useful functions that programmers are in need of during the course of their work. Programmers Calculator is free and very lightweight" />
    <meta name="msvalidate.01" content="D6E8C012C50EA57569CF9E259ECA6DC7" />
    <title>@ViewBag.Title - Programars Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>
    <div id="fb-root"></div>
    @Html.Partial("_Side")

    <div style="display: table; margin-right: auto; margin-left: auto;">
        @Html.Partial("_AdsenseLarge")
    </div>


    <div class="container">

        @RenderBody()

    </div>
    <hr>
    <footer>
        <div class="content-wrapper">
            <div class="row text-center">
                <p>
                    &copy; @DateTime.Now.Year - Santosh Kumar Singh
                </p>
            </div>
            <div class="row text-center">
                <ul id="social">
                    <li><a href="https://www.facebook.com/aspdotnetcodebook" class="facebook">Facebook</a></li>

                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43276314-1', 'apphb.com');
        ga('send', 'pageview');

    </script>
    
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=276775795734961";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>

