<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="Description" content="Programmers Calculator is a free calculator for programmers which can be used to convert text to and from Base64 encoding, it can also be used to convert text to binary, generate MD5, SHA1, SHA256 hash values of both text and files and several other useful functions that programmers are in need of during the course of their work. Programmers Calculator is free and very lightweight" />

    <title>@ViewBag.Title - Programars Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Programars Calculator", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("StringToBinary", "StringToBinary", "Home")</li>
                        <li>@Html.ActionLink("Number Conversion", "NumberConversion", "Home")</li>
                        <li>@Html.ActionLink("RSA", "RSA", "Home")</li>
                        <li>@Html.ActionLink("Regular Expression", "Regex", "Home")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Encoding <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("String To Base64", "Base64", "Home")</li>
                                <li>@Html.ActionLink("Base64 To String ", "Base64ToString", "Home")</li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hashing <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                               
                                <li>@Html.ActionLink("Md5", "HashMd5", "Home",null, new { id = "MD5" })</li>
                                <li>@Html.ActionLink("SHA1", "SHA", "Home",new { id = "SHA1" },null)</li>
                                <li>@Html.ActionLink("SHA256", "SHA", "Home",new { id = "SHA256" },null)</li>
                                <li>@Html.ActionLink("SHA512", "SHA", "Home",new { id = "SHA512" },null)</li>
                                <li>@Html.ActionLink("Hash Of File", "HashFile", "Home")</li>

                            </ul>
                        </li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        
        @RenderBody()

    </div>
    <hr>
    <footer>
        <div class="content-wrapper">
            <div class="row text-center">
                <p>
                    &copy; @DateTime.Now.Year - Santosh Kumar Singh
                </p>
            </div>
            <div class="row text-center">
                <ul id="social">
                    <li><a href="https://www.facebook.com/aspdotnetcodebook" class="facebook">Facebook</a></li>

                </ul>
            </div>
        </div>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 <script>
     (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
             (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
         m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
     })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

     ga('create', 'UA-43276314-1', 'apphb.com');
     ga('send', 'pageview');

</script>
</body>
</html>

